@charset "UTF-8";
body {
  margin: 0;
}

/* Menu */
.menu__item {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #F0F0F0;
}
.menu__img {
  padding-left: 20px;
  margin: 20px 0;
}
.menu__link {
  display: block;
  color: #9C2A04;
  text-decoration: none;
  padding: 15px 20px;
  font-weight: 600;
  font-size: 18px;
}
.menu__li {
  border-bottom: 1px solid white;
}
.menu__li--specific {
  border: 0;
}

.menu__checkbox:checked ~ .menu__item {
  display: block;
}

.menu__toggler {
  cursor: pointer;
  display: block;
  background-color: #FFA223;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 18px;
}

.menu__link:hover, .menu__link:focus, .menu__link:active {
  background-color: #9C2A04;
  color: white;
}

.menu__checkbox {
  position: absolute;
  left: -9999px;
}

@media screen and (min-width: 768px) {
  .menu {
    padding: 20px;
    align-items: flex-start;
    display: flex;
    flex-direction: column-reverse;
  }
  .menu__item {
    display: flex;
    padding: 0;
    background-color: transparent;
  }
  .menu__img {
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
  }
  .menu__link {
    color: #9C2A04;
    text-decoration: none;
    padding: 15px 20px;
    font-weight: bolder;
    font-size: 20px;
    border: 2px solid transparent;
    border-radius: 6px;
  }
  .menu__link:hover, .menu__link:focus, .menu__link:active {
    background-color: transparent;
    color: #9C2A04;
    border: 2px solid #9C2A04;
  }
  .menu__link--border {
    color: white;
    background-color: #9C2A04;
    border-radius: 5px;
    padding: 13px 48px;
    border: 2px solid #9C2A04;
  }
  .menu__li {
    margin: 4px;
    border: 0;
  }
  .menu__toggler {
    display: none;
  }
  .menu__list {
    display: flex !important;
  }
  .menu__item {
    border-bottom: 0;
    border-right: 1px solid white;
  }
}
@media screen and (min-width: 1024px) {
  .menu {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
  .menu__link {
    padding: 15px 40px;
  }
  .menu__img {
    margin: 0;
  }
}
@media screen and (min-width: 1440px) {
  .menu {
    padding: 20px 80px;
  }
  .menu__link {
    padding: 15px 50px;
  }
}
/*Hlavička*/
.header {
  background-image: url("../images/hlavicka.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 200px;
}

.flash__first, .flash__second {
  display: none;
}

.title__text {
  font-size: 22px;
  margin: 0;
  padding-top: 80px;
  text-align: center;
  color: #9C2A04;
}

@media screen and (min-width: 768px) {
  .header {
    height: 400px;
    position: relative;
  }
  .title__text {
    font-size: 38px;
    margin: 0;
    padding-top: 160px;
    text-align: center;
    color: #9C2A04;
  }
  .flash__first, .flash__second {
    display: block;
    height: 150px;
    position: absolute;
    opacity: 0.7;
  }
  .flash__first {
    top: 80px;
    left: 40px;
  }
  .flash__second {
    right: 40px;
    bottom: 60px;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    height: 500px;
  }
  .flash__first, .flash__second {
    height: 250px;
  }
  .flash__first {
    top: 80px;
    left: 60px;
  }
  .flash__second {
    right: 60px;
    bottom: 60px;
  }
}
@media screen and (min-width: 1440px) {
  .header {
    height: 600px;
  }
  .title__text {
    font-size: 42px;
    padding-top: 220px;
  }
  .flash__first, .flash__second {
    height: 400px;
  }
  .flash__first {
    top: 20px;
    left: 80px;
  }
  .flash__second {
    right: 80px;
    bottom: 20px;
  }
}
@media screen and (min-width: 1536px) {
  .header {
    height: 700px;
  }
  .title__text {
    font-size: 56px;
    padding-top: 250px;
  }
  .flash__first, .flash__second {
    height: 450px;
  }
  .flash__first {
    top: 20px;
    left: 80px;
  }
  .flash__second {
    right: 80px;
    bottom: 10px;
  }
}
@media screen and (min-width: 1920px) {
  .header {
    height: 800px;
  }
  .title__text {
    font-size: 56px;
    padding-top: 300px;
  }
  .flash__first, .flash__second {
    height: 560px;
  }
  .flash__first {
    top: 20px;
    left: 80px;
  }
  .flash__second {
    right: 80px;
    bottom: 10px;
  }
}
/*Pruh Proč se na mě obrátit? - 3 sloupce vedle sebe*/
.flex-col-3 {
  margin-bottom: 20px;
}

.p-spacer {
  padding: 20px;
}

.subtitle {
  color: #9C2A04;
  font-size: 22px;
  margin-top: 20px;
}

.icon__svg {
  height: 60px;
  margin-top: 40px;
}

.text--different {
  text-align: left;
  font-size: 18px;
  color: #9C2A04;
  margin: 30px 0 0 0;
}

.text {
  text-align: left;
  font-size: 16px;
  margin: 16px 0;
}

@media screen and (min-width: 768px) {
  .subtitle {
    font-size: 32px;
    margin-bottom: 0;
  }
  .icon {
    display: flex;
  }
  .icon__column {
    margin: 20px;
  }
  .icon__svg {
    margin: 0;
  }
  .text--different {
    font-size: 20px;
  }
  .text {
    font-size: 18px;
  }
}
@media screen and (min-width: 1440px) {
  .flex-col-3 {
    max-width: 1680px;
    margin: 0 auto;
  }
  .p-spacer {
    padding: 80px;
    padding-top: 40px;
  }
  .subtitle {
    font-size: 38px;
    margin-bottom: 0;
  }
  .text--different {
    font-size: 24px;
  }
  .text {
    font-size: 20px;
  }
  .icon__svg {
    height: 80px;
    margin-top: 40px;
    align-self: flex-start;
  }
  .icon__column {
    margin: 0;
  }
  .icon__column + .icon__column {
    margin-left: 40px;
  }
}
/*Pruh - čtyři karty vedle sebe + text*/
.text--strong {
  font-size: 20px;
}

.grid-col-4 {
  background-color: #F0F0F0;
  padding-bottom: 0;
}

.card__column {
  background-color: white;
  margin: 20px 0;
}
.card__column--end {
  margin-bottom: 0;
}
.card__img {
  width: 100%;
}
.card .text--different {
  padding: 30px;
  padding-bottom: 0;
  margin: 0;
}
.card .text {
  padding: 30px;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .card__column {
    margin: 0;
  }
}
@media screen and (min-width: 1440px) {
  .card, .grid-col-4__text {
    grid-template-columns: repeat(4, 1fr);
    max-width: 1680px;
    margin: 0 auto;
  }
}
/*Šedý pruh s tlačítkem*/
.text-button {
  background-color: #F0F0F0;
  padding-bottom: 40px;
  padding-top: 40px;
}

.text-1 {
  margin-top: 0;
}

.strong--text {
  font-size: 20px;
  padding: 0 20px;
  font-weight: bold;
}

.call-to-action__right {
  margin-bottom: 10px;
}

.button--basic {
  padding: 10px 30px;
  border: 1px solid #9C2A04;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  margin: 20px;
  background-color: white;
  color: #9C2A04;
  text-decoration: none;
}

.button--basic:hover, .button--basic:focus, .button--basic:active {
  background-color: #9C2A04;
  color: white;
}

@media screen and (min-width: 1024px) {
  .call-to-action {
    display: grid;
    grid-template-columns: 6fr 1fr;
    align-items: center;
  }
  .text-2 {
    margin-bottom: 0;
  }
  .call-to-action__left {
    margin-left: 20px;
  }
  .call-to-action__right {
    margin-right: 40px;
  }
  .button--basic {
    font-size: 20px;
  }
  .text-button {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}
@media screen and (min-width: 1440px) {
  .call-to-action__left {
    margin-left: 80px;
  }
  .call-to-action__right {
    margin-right: 100px;
  }
  .strong--text {
    font-size: 28px;
  }
}
@media screen and (min-width: 1536px) {
  .text-button {
    padding-bottom: 80px;
    padding-top: 80px;
  }
}
@media screen and (min-width: 1680px) {
  .call-to-action {
    max-width: 1680px;
    margin: 0 auto;
  }
  .call-to-action__left {
    margin-left: 0;
  }
  .call-to-action__right {
    margin-right: 0;
  }
}
/*Pruh dva sloupce - co dále nabízím?*/
.grid-col-2 {
  padding: 20px;
}

.button--little {
  margin: 0;
}

.button {
  margin-top: 20px;
}

.button {
  margin-bottom: 40px;
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .column__second {
    padding-left: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .grid-col-2 {
    padding: 20px 80px;
    padding-bottom: 80px;
  }
  .grid-col-2-1 {
    max-width: 1680px;
    margin: 0 auto;
  }
}
/*Žlutý pruh s tlačítkem*/
.text-button-flash {
  background-color: #FFA223;
}

.button--flash {
  background-color: black;
  color: white;
  border: none;
}

.button--flash:hover, .button--flash:focus, .button--flash:active {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.svg--flash {
  display: none;
}

@media screen and (min-width: 1536px) {
  .call-to-action {
    position: relative;
  }
  .svg--flash {
    display: block;
    position: absolute;
    height: 400px;
    right: 340px;
  }
}
/*Patička*/
.footer {
  padding: 20px;
}

.footer__img {
  height: 140px;
}

.footer__icon {
  height: 50px;
}

.footer__link {
  font-size: 16px;
  display: flex;
  justify-content: end;
}

.footer__item {
  font-weight: 600;
  margin-bottom: 30px;
}

.footer__text {
  font-size: 14px;
  margin: 0;
  margin-top: 30px;
}

.line {
  max-width: 100%;
}

a svg:hover #facebook-f {
  fill: #9C2A04;
}

a svg:hover #facebook-okoli {
  fill: white;
  stroke: #9C2A04;
  stroke-width: 2px;
}

@media screen and (min-width: 768px) {
  .footer__item {
    font-size: 18px;
  }
}
@media screen and (min-width: 1440px) {
  .footer {
    padding: 80px;
    max-width: 1680px;
    margin: 0 auto;
  }
  .footer__item {
    font-size: 20px;
  }
  .footer__text {
    font-size: 16px;
  }
}
.title-page {
  padding: 20px;
}

.title-page__text {
  font-size: 28px;
  color: #9C2A04;
}

@media screen and (min-width: 768px) {
  .title-page__text {
    font-size: 38px;
  }
}
@media screen and (min-width: 1440px) {
  .title-page {
    padding: 20px 80px;
  }
  .title-page__text {
    font-size: 42px;
  }
}
@media screen and (min-width: 1536px) {
  .title-page {
    max-width: 1680px;
    margin: 0 auto;
  }
  .title-page__text {
    font-size: 56px;
  }
}
.grid-row-2 {
  padding: 20px;
}

.row__item {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .grid-row-2 {
    padding: 20px 80px;
  }
  .grid-row-2-1 {
    max-width: 1680px;
    margin: 0 auto;
  }
  .row__third, .row__fourth {
    margin-bottom: 80px;
  }
}
/*Pruh foto + odrážky*/
.foto-bullet {
  padding: 20px;
  padding-top: 0;
}

.foto {
  max-width: 100%;
}

.bullet__text {
  margin-bottom: 40px;
}

.bullet__point {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.bullet__svg {
  height: 40px;
  margin-right: 20px;
}

@media screen and (min-width: 1024px) {
  .flex-bullet {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .flex-bullet__foto {
    margin-right: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .foto-bullet {
    padding: 40px 80px 80px 80px;
  }
  .flex-bullet {
    max-width: 1680px;
    margin: 0 auto;
  }
  .flex-bullet__foto {
    margin-right: 40px;
  }
}
@media screen and (min-width: 1536px) {
  .flex-bullet__foto {
    margin-right: 100px;
  }
}
/*Pruh foto + odrážky (otočený)*/
@media screen and (min-width: 1024px) {
  .flex-bullet--inverted {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  .flex-bullet__foto--inverted {
    margin: 0;
    margin-left: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .flex-bullet__foto--inverted {
    margin: 0;
    margin-left: 40px;
  }
}
@media screen and (min-width: 1536px) {
  .foto-bullet--invereted {
    padding: 60px 80px 120px 80px;
  }
  .flex-bullet__foto--inverted {
    margin: 0;
    margin-left: 100px;
  }
  .bullet-text {
    text-align: right;
  }
}
/*Pruh foto*/
@media screen and (min-width: 1024px) {
  .bullet {
    max-width: 50%;
  }
}
/*Formulář*/
.form-flash {
  padding: 20px;
  background-color: #F0F0F0;
}

.form__field {
  margin-bottom: 20px;
}
.form__field label {
  font-size: 16px;
  color: grey;
}
.form__field input, .form__field textarea {
  width: 92%;
  padding: 10px;
  border: 1px solid #FFA223;
  color: black;
}

.text--different-form {
  margin: 40px 0 20px 0;
}

.demand__arrow, .form-flash__svg {
  display: none;
}

.button--form {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .demand {
    display: flex;
    align-items: center;
    max-width: 768px;
    margin: 0 auto;
  }
  .demand__text {
    margin-right: 40px;
  }
  .demand__arrow {
    display: block;
    width: 350px;
    margin-top: 40px;
  }
  .form {
    margin: 0;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .demand {
    max-width: 1024px;
    margin: 0 auto;
  }
  .form-flash {
    padding: 40px 20px;
  }
  .demand__text {
    margin-right: 80px;
  }
  .demand__form {
    background-color: white;
    padding: 10px 60px;
    border: 1px solid #FFA223;
  }
}
@media screen and (min-width: 1280px) {
  .demand {
    max-width: 1680px;
  }
  .demand__text {
    margin-right: 300px;
  }
  .form-flash__svg {
    display: block;
  }
  .demand__arrow {
    width: 400px;
  }
  .form-flash {
    position: relative;
    padding: 60px 20px;
    z-index: 1;
  }
  .form-flash__svg {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
  }
}
@media screen and (min-width: 1440px) {
  .form-flash {
    padding: 80px 80px;
  }
  .demand__text {
    margin-right: 260px;
  }
  .demand__arrow {
    width: 500px;
  }
}
@media screen and (min-width: 1536px) {
  .demand__text {
    margin-right: 340px;
  }
}
@media screen and (min-width: 1680px) {
  .form-flash {
    padding: 120px 0;
  }
  .demand__text {
    margin-right: 320px;
  }
  .demand__arrow {
    width: 600px;
  }
  .demand {
    max-width: 1536px;
    margin: 0 auto;
    position: relative;
  }
  .form-flash__svg {
    position: absolute;
    height: 149.5%;
    top: -120px;
    right: 0;
  }
}
.flex-col-3-kontakt {
  padding: 20px;
  padding-bottom: 40px;
}

.flex-icon {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.text--kontakt {
  text-align: center;
}

.link--kontakt {
  text-decoration: none;
  color: #9C2A04;
}

.link--kontakt:hover, .link--kontakt:focus, .link--kontakt:active {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .flex-icon {
    flex-direction: row;
    padding-bottom: 20px;
    max-width: 1680px;
    margin: 0 auto;
  }
  .flex-icon__column {
    flex: 1 1 33.3333333333%;
  }
}
@media screen and (min-width: 768px) {
  .flex-col-3-kontakt {
    padding: 40px 80px 80px 80px;
    margin: 0 40px;
  }
}/*# sourceMappingURL=style.css.map */