$color-primary: #9c2a04;
$color-secondary: #ffa223;
$font-size-primary: 20px;
$font-size-secondary: 18px;
$font-size-third: 16px;
$padding-top: 40px;
$padding: 80px;
$p-spacer-primary: 20px;
$m-spacer-primary: 20px;

body {
  margin: 0;
}
