@use 'base';

/*Pruh dva sloupce - co dále nabízím?*/

.flex-col-2 {
    padding: base.$p-spacer-primary;
}

.button--little {
    margin: 0;
}

.button {
    margin-top: 20px;
}

.button {
    margin-bottom: 40px;
    margin-top: 40px;
}

@media screen and (min-width: 768px) {

    .column {
        display: flex;
    }

    .column__first, .column__second {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1 1 calc(100% / 2);     
    }

    .column__second {
        margin-left: 40px;
    }
}

@media screen and (min-width: 1440px) {

    .flex-col-2 {
        padding: 20px 80px;
        padding-bottom: 80px;
    }

    .flex-col-2-1 {
        max-width: 1680px;
        margin: 0 auto;
    }

}