@use 'base';


/*Pruh foto + odrážky*/

.foto-bullet {
    padding: 20px;
    padding-top: 0;
}

.foto {
    max-width: 100%;
}

.bullet__text {
    margin-bottom: 40px;
}

.bullet__point {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.bullet__svg {
    height: 40px;
    margin-right: 20px;
}

@media screen and (min-width: 1024px) {

   .flex-bullet {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
   } 

   .flex-bullet__foto {
    margin-right: 20px;
   }

}

@media screen and (min-width: 1440px) {

    .foto-bullet {
        padding: 40px 80px 80px 80px;
    }

    .flex-bullet {
        max-width: 1680px;
        margin: 0 auto;
    }

    .flex-bullet__foto {
        margin-right: 40px;
    }

}

@media screen and (min-width: 1536px) {

    .flex-bullet__foto {
        margin-right: 100px;
    }

}




/*Pruh foto + odrážky (otočený)*/

@media screen and (min-width: 1024px) {

    .flex-bullet--inverted {
        flex-direction: row-reverse;
        justify-content: flex-end;
    }

    .flex-bullet__foto--inverted {
        margin: 0;
        margin-left: 20px;
    }

}

@media screen and (min-width: 1440px) {

    .flex-bullet__foto--inverted {
        margin: 0;
        margin-left: 40px;
    }

}

@media screen and (min-width: 1536px) {

    .foto-bullet--invereted {
        padding: 60px 80px 120px 80px;
    }

    .flex-bullet__foto--inverted {
        margin: 0;
        margin-left: 100px;
    }

    .bullet-text {
        text-align: right;
    }

}


