@use 'base';

/*Pruh - čtyři karty vedle sebe + text*/

.text--strong {
    font-size: base.$font-size-primary;
}

.grid-col-4 {
    background-color: #F0F0F0;
    padding-bottom: 0;
}

.card {

    &__column {
        background-color: white;
        margin: 20px 0;
    }

    &__column--end {
        margin-bottom: 0;
    }

    &__img {
        width: 100%;
    }

.text--different {
    padding: 30px;
    padding-bottom: 0;
    margin: 0;
}

.text {
    padding: 30px;
    margin: 0;
}

}

@media screen and (min-width: 768px) {

    .card {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;

        &__column {
            margin: 0;
        }

    }

}

@media screen and (min-width: 1440px) {

    .card, .grid-col-4__text {

        grid-template-columns: repeat(4, 1fr);

        max-width: 1680px;
        margin: 0 auto;

    }

}