<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/site.webmanifest">
    <link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/images/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/images/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <title>Elektro Radil</title>

	<link rel="stylesheet" href="/css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

</head>
<body>

<!--Menu-->

<div class="menu">

    <input type="checkbox" class="menu__checkbox" id="menu-checkbox">
    <label for="menu-checkbox" class="menu__toggler">☰ Menu</label>

        <ul class="menu__list"> 
            <li class="menu__item {{ 'menu__item--active' if page.fileSlug === 'elektroinstalace' }}"><a href="/elektroinstalace" class="menu__link">Elektroinstalace</a></li> 
            <li class="menu__item {{ 'menu__item--active' if page.fileSlug === 'dalsi-sluzby' }}"><a href="/dalsi-sluzby" class="menu__link">Další služby</a></li> 
            <li class="menu__item {{ 'menu__item--active' if page.fileSlug === 'reference' }}"><a href="/reference" class="menu__link">Reference</a></li> 
            <li class="menu__item {{ 'menu__item--active' if page.fileSlug === 'kontakt' }} menu__item--specific"><a href="/kontakt" class="menu__link menu__link--border">Kontakt</a></li> 
        </ul> 

        <div class="menu__logo">
            <a href="https://marek-radil.netlify.app/"><img class="menu__img animate__animated animate__pulse" src="/images/logo-menu.svg" alt="logo-menu"></a>
        </div>

</div>


		<main class="main">
        {{ content | safe }}
		</main>



<!--Patička-->


<footer class="footer">

    <div class="footer__logo">
        <img class="footer__img" src="/images/logo-paticka.svg" alt="Faebook-ikona">
    </div>

    <div class="footer__link">
        <p class="footer__item">Sledujte mě:</p>
        <a href="https://cs-cz.facebook.com/marek.radil/" target="_blank" title="Facebook">
            <svg width="55" height="60" viewBox="0 0 70 70" xmlns="http://www.w3.org/2000/svg">
                <path id="facebook-okoli" d="M35 5.83325C18.8913 5.83325 5.83337 18.8912 5.83337 34.9999C5.83337 51.1087 18.8913 64.1666 35 64.1666C51.1088 64.1666 64.1667 51.1087 64.1667 34.9999C64.1667 18.8912 51.1088 5.83325 35 5.83325Z" fill="url(#paint0_linear_307_408)"/>
                <path id="facebook-f"  d="M38.9477 42.7305H46.496L47.6816 35.0626H38.9477V30.8714C38.9477 27.6864 39.9889 24.8616 42.9683 24.8616H47.756V18.1707C46.9145 18.057 45.1354 17.8091 41.7739 17.8091C34.7535 17.8091 30.6381 21.5162 30.6381 29.9628V35.0641H23.4208V42.732H30.6366V63.8078C32.0658 64.0207 33.5139 64.1666 34.9999 64.1666C36.3431 64.1666 37.6541 64.0441 38.9477 63.8691V42.7305Z" fill="white"/>
                <defs>
                <linearGradient id="paint0_linear_307_408" x1="14.5732" y1="14.573" x2="59.2302" y2="59.2301" gradientUnits="userSpaceOnUse">
                <stop offset="0.9999" stop-color="#9C2A04"/>
                <stop offset="1" stop-color="#007AD9"/>
                </linearGradient>
                </defs>
            </svg>
        </a>
    </div>
    
    <img class="line" src="/images/linka.svg" alt="linka">


    <div>
        <p class="footer__text">Eliška Pokorná, 2022.<br>Webové stránky "na míru"</p>
    </div>

</footer>






</body>
</html>